body {
    font-family: 'Roboto', sans-serif;
}

.navbar {
    display: inline; /* Or use inline-block if you want to maintain block properties */
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar li {
    display: inline; /* Makes the list items inline */
    margin-right: 15px; /* Space between items */
}
